<%-
  doc_title = (document_show_html_title.nil? || document_show_html_title.empty?) ? @document[:id] : document_show_html_title.first
  @page_title = "#{doc_title} - #{application_name}" 
-%>
<%- sidebar_items << render("shared/show_sets") -%>

<div class="document_viewer" id="cover_container">
  
  <%= render :partial => 'hypatia_items/show_description' -%>
  <%= render :partial => 'shared/show_files' -%>
  <%= render :partial => 'shared/show_technical' -%>
  <%= render :partial => 'hypatia_items/show_permissions' %>
</div>
