<div class="techInfo metadata-section">
  <h2 class="section-title">Technical info</h2>
  <span class="show-hide">Hide Section</span>
  <dl>
    <%= display_ds_values_as_dl_element("contentMetadata", :content_oid, "Content Object ID") %>
  </dl>
</div>
