<div class="files metadata-section">
  <h2 class="section-title">Files</h2>
  <span class="show-hide" style="display:none;">Hide Section</span>
  <div class="toggle-section">
    <table id="file_assets" class="files">
      <thead>
        <tr>
          <th>Name</th>
          <th>Size</th>
          <th>Mimetype</th>
        </tr>
      </thead>
      <tbody>
        <%- file_objects = @document_fedora.parts(:response_format=>:solr) -%>
        <%- unless file_objects.hits.empty? -%>
          <%- file_objects.each_with_index do |file_object, index| -%>
            <%- attributes = get_file_attributes_from_fedora(file_object["id"]) -%>
            <tr class="file_asset<%= cycle(" odd", " even") -%>" >
              <td>
                <%= link_to(attributes["label"], asset_downloads_path(attributes[:pid], :download_id=>attributes["dsid"])) -%>
              </td>
              <td>
                <%= file_object["extent_t"] unless file_object["extent_t"].nil? %>
              </td>
              <td>
                <%= attributes["mimeType"] if attributes.has_key?("mimeType") %>
              </td>
            </tr>
          <%- end -%>
        <%- end -%>
      </tbody>
    </table>
  </div>
</div>
