<div class="files metadata-section">
  <h2 class="section-title">Files</h2>
  <span class="show-hide">Hide Section</span>
  
  <div id="fileDownloads" class="downloads">	
  <table id="file_assets" class="files">
    <thead>
      <tr>
        <th>File</th>
        <th>Size</th>
        <th>Access</th>
      </tr>
    </thead>
  <%# @document_fedora.file_objects(:response_format=>:solr).each do |result| %>
  <%# @document_fedora.file_objects(:response_format=>:solr).each_with_index do |result, index| %>
    <tbody>
	<% get_values_from_datastream(@document_fedora, "contentMetadata", [:resource_type]).each_with_index do |result, index| -%>
	  <% if result != "photo" -%>
  	<tr class="file_asset<%= cycle(" odd", " even") -%>" >
  	  <td>
        <%= get_values_from_datastream(@document_fedora, "contentMetadata", :file_id)[index] %>
      </td>
  	  <td>
        <%= get_values_from_datastream(@document_fedora, "contentMetadata", :size)[index] %>
  	  </td>
  	  <td>
        <%= link_to "download", get_values_from_datastream(@document_fedora, "contentMetadata", :url)[index] %>
  	  </td>
  	</tr>
  	<% end -%>
	<% end -%>
  </tbody>
	
  </table>
  </div>
</div>
