<% member_objects = @document_fedora.members(:response_format=>:solr) -%>
<% unless member_objects.hits.empty? -%>
  <div class="sets members sidebar-section<%= " first" if @document_fedora.sets(:response_format=>:solr).hits.empty? %>">
    <h2 class="sidebar-title">In this Collection:</h2>
    <ul>
      <%- member_objects.each do |result| -%>
        <li><%= link_to result[solr_name("display_name", :string)], catalog_path(:id=>result["id"]) %></li>
			<%- end -%>
		</ul>		
		<% if controller.action_name == "edit" && editor? %>
		  <a class="edit-relationships" href="edit_members">Edit Relationships &rarr;</a>
		<% end %>
	</div>	
<% end -%>