<div class="techInfo metadata-section">
  <h2 class="section-title">Technical info</h2>
  <span class="show-hide" style="display:none;">Show Section</span>
  <dl class="toggle-section start-shut">
    <%= display_ds_values_as_dl_element("contentMetadata", :content_oid, "Content Object ID") %>
  </dl>
</div>
