<div class="descMetadata">
  <h2><u>Description</u></h2>
  <dl>
    <%= display_ds_values_as_dl_element("descMetadata", :type_of_resource, "Type of Resource") %>
    <%= display_ds_values_as_dl_element("descMetadata", :form, "Medium") %>
  </dl>
</div>