<div class="descMetadata metadata-section">
  <h2 class="section-title">Description</h2>
  <span class="show-hide" style="display:none;">Hide Section</span>
  <dl class="collection-metadata-list toggle-section">
    <%#= display_ds_values_as_dl_element("descMetadata", :type_of_resource, "Type of Resource") %>
    <%#= display_ds_values_as_dl_element("descMetadata", :form, "Medium") %>
  </dl>
</div>