<div id="appliedParams">

	<h3 class="label">You searched for:</h3>
  
  <%= render_constraints(localized_params) %>  
		<%= link_to "Start&nbsp;over&thinsp;", catalog_index_path, :id=>"startOverLink" %>
</div>