<div id="results" class="home-text">

  <%= render :partial=>'search_form' %>


  <div class="home-text-container">
    <p class="home-intro"><a class="hypatia-home-link" href="https://wiki.duraspace.org/display/HYPAT/Home">Hypatia</a>&mdash;a 
      <a href="https://wiki.duraspace.org/display/hydra/The+Hydra+Project">Hydra</a> application&mdash;supports accessioning, arrangement, description, discovery, delivery, and long term preservation of born digital archival collections. Hypatia is being developed as part of the <a href="http://www2.lib.virginia.edu/aims/">AIMS Project</a> (&ldquo;Born-Digital Collections: An Inter-Institutional Model for Stewardship&rdquo;), funded by the Andrew W. Mellon Foundation.</p>
    <h2 class="home-featured-header">Featured Collections</h2>
    <%- Blacklight.config[:featured_collections].each do |coll_id| -%>
      <%- collection = featured_collections.find{|c| c["id"] == coll_id} -%>
      <%- unless collection.nil? -%>
        <div class="home-featured">
          <h2 class="home-featured-title"><%= link_to(collection["display_name_display"], catalog_path(collection["id"])) %></h2>
          <div class="home-featured-media">
            <%- img = get_iamge_for_collection(collection) -%>
            <%= link_to(img, catalog_path(collection["id"])) %>
          </div>
          <p class="home-featured-description"><%= collection["abstract_display"]  %></p>
        </div>
      <%- end -%>
    <%- end -%>
  </div>

</div>