<div id="results">
	
	<%= render :partial=>'search_form' %>
	
	<div class="home_text">
		<h1>Welcome to Hypatia</h1>
		<br/>
		<p><a href="https://wiki.duraspace.org/display/HYPAT/Home">Hypatia</a> (a 
		  <a href="https://wiki.duraspace.org/display/hydra/The+Hydra+Project">Hydra</a> application
		  based on <a href="https://github.com/projecthydra/hydrangea">Hydrangea</a>) supports
      accessioning, arrangement, description, discovery, delivery, and long term preservation
      of born digital collections. Hypatia is being developed as part of the 
      <a href="http://www2.lib.virginia.edu/aims/">AIMS Project</a> 
      ("Born-Digital Collections: An Inter-Institutional Model for Stewardship"), 
      funded by the Andrew W. Mellon Foundation.
		</p>
	</div>

</div>
