<div id="select-item-box">
  <a class="add-new-asset" href="#">Add a New Asset</a>
  <ul id="select-item-list">
    <li><span class="disabled">Add a Collection</span></li>
    <li>
      <%= link_to_create_asset 'Add a Set', 'hypatia_set' %>
    </li>
    <li>
      <%= link_to_create_asset 'Add a FTK Item', 'hypatia_ftk_item' %>
    </li>
    <li>
      <%= link_to_create_asset 'Add a Disk Image Item', 'hypatia_disk_image_item' %>
    </li>
  </ul>
</div>